* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #e8cfc1;
}

header {
  height: 5rem;
  background-color: #dbc0af;
  position: fixed;
  width: 100%;

  font-weight: 700;

  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

footer {
  height: 5rem;
  background-color: #dbc0af;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  bottom: 0;
  width: 100%;

  color: #5d483c;
  font-weight: 700;
}

.title {
  margin-right: 4rem;
  text-decoration: underline;
  cursor: pointer;
  color: #5d483c;

}

.title:hover {
  color: #f4e3d9;
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #5d483c;
  font-weight: 700;
}

.logo {
  padding-top: 5rem;
  width: 30%;
}

.social-media {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-right: 4rem;
}

.social-item {
  cursor: pointer;
}

.name {
  margin-left: 3rem;
}

.about-wraper { 
  padding-top: 3rem;
  margin: 0 8rem;
  display: grid;
  grid-template-columns: 300px 1fr;
}

.about-p {
  color: #5d483c;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 1.3rem;
}

.foto {
  width: 90%;
  border-radius: 50%;
}

.about-title {
  padding-top: 10rem;
  display: flex;
  justify-content: center;
  color: #5d483c;
}

.contact-container {
  padding-top: 10rem;
  padding-left: 20rem;
  gap: 3rem;
  display: flex;
  justify-content: flex-center;
  flex-direction: column;
  color: #5d483c;
}

.contact a {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.contact {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.contact-text {
  color: #5d483c;
  text-decoration: underline;
  display: flex;
  flex-direction: row;
}

.contact-box {
  display: flex;
  flex-direction: row;
}

.logo-contact {
  width: 20%;
  height: 20%;
  margin-top: 9rem;
  margin-left: 10rem;
}

.work-container {
  width: 50rem;
  height: 30rem;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10rem;
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 4rem;
  justify-content: center;
}

.work-img {
  width: 10rem;
}

.work-box {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 0.5rem;
}

.works-title {
  text-decoration: none;
  color: #5d483c;
}

.work-image {
  width: 20rem;
}

.work-title {
  color: #5d483c;
}

.work-links {
  display: flex;
  flex-direction: row; 
  gap: 0.5rem;
  align-items: center;
  color: #5d483c;
  text-decoration: none;
}